.trending-coins{
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
  
.trending-coins a{
  color: var(--main-clr);
}

.trending-coins a:visited{
  color: var(--second-clr);
}

.trending-coin-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trending-coin-item p{
  text-align: center;
}