
.text{
  font-size: 3.5rem;
  letter-spacing: 4px;
  animation: fade 3s ease-out;
}
  
@keyframes fade{
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}


.main{
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 800px){
  .text{
    font-size: 2.5rem;
  }
}

@media (max-width: 280px){
  .text{
    font-size: 1.75rem;
  }
}