:root {
	--size: 75px;
	--clr-bg: #272324;
	--clr1: #bbbb88;
	--clr2: #ccc68d;
	--clr3: #eedd99;
	--clr4: #eec290;
	--clr5: #eeaa88;
}

.spinner {
  margin: 0 auto;
  --animation-duration: 650ms;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.spinner .spinner-item {
  position: absolute;
  width: var(--item-size);
  height: var(--item-size); 
  top: calc(50% - var(--item-size) / 2);
  left: calc(50% - var(--item-size) / 2);
  border: 4px solid transparent;
  border-left: 4px solid var(--clr-spinner);
  border-right: 4px solid var(--clr-spinner);
  border-radius: 50%;
  animation: spinner2 var(--animation-duration) linear infinite;
}
@keyframes spinner2 {
  to {
    transform: rotate(360deg);
 }
}
.spinner .spinner-item:nth-of-type(1) {
  --item-size: var(--size);
  --clr-spinner: var(--clr1);
  border-top: 4px solid var(--clr1);
}
.spinner .spinner-item:nth-of-type(2) {
  --item-size: calc(var(--size) - 15px);
  --clr-spinner: var(--clr5);
  border-bottom: 4px solid var(--clr5);
}
.spinner .spinner-item:nth-of-type(3) {
  --item-size: calc(var(--size) - 30px);
  --clr-spinner: var(--clr3);
  border-top: 4px solid var(--clr3);
}